.edituser .form-parent {
  display: inline-block;
}

.edituser .form-container {
  margin-bottom: 1em;
}

.edituser .delete-container {
  text-align: right;
}

.edituser .right-of-label {
  width: 300px
}