form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

/*Let fields outside of fieldsets, line up with the ones inside of fieldsets. */
.field {
  margin-left: 1em;
  margin-right: 1em;
}

fieldset .field {
  margin-left: 0;
  margin-right: 0;
}

.label-on-left {
  display: inline-block;
  min-width: 150px;
  text-align: right;
}

/*Inputs have an extra border above the text.
  Here we move the label downwards a little bit so that the label still lines up with the input text*/
.label-on-left.label-for-input {
  margin-top: .25em;
  vertical-align: top;
}

.right-of-label {
  margin-left: .5em;
  display: inline-block;
  text-align: left;
}

.typeable-field {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}

.typeable-field:focus {
  outline-style: solid;
  outline-color: black;
}

.typeable-field:user-invalid {
  outline-color: red;
}

.field.vertically-arranged-contents {
  text-align: left;
}

.field.vertically-arranged-contents > * {
  display: block;
}

.fill-container-width {
  width: 100%;
}

.field textarea {
  height: 5em;
  width: stretch;
}

.radiogroup,
.radiogroup > * {
  display: inline-block;
}

.radio-option-label {
  min-width: auto;
  margin: 0 .5em;
}

.field .error {
  color: red;
  text-align: left;
}