form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

.field {
  margin-left: 1em;
  margin-right: 1em;
}

fieldset .field {
  margin-left: 0;
  margin-right: 0;
}

.field label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 150px;
  text-align: right;
}

.label-left-of-field.label-for-input {
  margin-top: .25em;
  vertical-align: top;
}

.right-side-field {
  margin-left: .5em;
  display: inline-block;
  text-align: left;
}

.right-side-field > input:not([type="radio"]) {
  width: 100%;
}

.field input:not([type="radio"]),
.field textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}

.radiogroup,
.radiogroup > * {
  display: inline-block;
}

.field input[type="radio"] + label {
  min-width: auto;
  margin: 0 .5em;
}

.field input:focus,
.field textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: black;
}

.field .textareacontainer {
  text-align: left;
}

.field textarea {
  display: block;
  /* Provide space to type some text */
  height: 5em;
  width: stretch;
}

.field input:user-invalid,
.field textarea:user-invalid {
  outline-color: red;
}

/* Base the left margin and padding on the label's width and field's left margin */
.field .error {
  color: red;
  text-align: left;
}