.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: calc(18px);
  color: white;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.App-header h1,
.App-header h2 {
  margin: .5em 2em;
}

.App-header p {
  margin: 0em 2em;
}

.App-header a {
  color: #61dafb;
}

.App-header a:visited {
  color: violet;
}

.App-header nav a {
  margin: 0em .5em;
}