body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

button[type="submit"],
.field + .field,
fieldset + .field {
  margin-top: 1em;
}